# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repositorios\Java-Web-Servlets\Clase 3\Laboratorio\integrator-mod-03-04-05\WebBookStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
